.content, .content-full{
    padding: 10px
    
}

.content-full{
    padding: 10px;
    margin: 10px;
}

#menu{
    position:absolute;
    left: 10px;
    
}

#pagina{
    position: absolute;
    top: 70px;
    
}

.bg-lightgrey{
    background-color: rgb(240, 240, 240);
}

.bg-white{
    border-radius: 5px;
}

.margin-auto{
    margin: auto;
}

.container {
    position: relative;
  }
  
.child {
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.padding-60{
    padding: 60px;
}

.push-20{
    margin-bottom: 20px !important;
}
.push-40{
    margin-bottom: 40px !important;
}

.rounded-30{
    border-radius: 20px !important;
}

.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    text-align: center;
}

.no-underline{
    text-decoration: none;
}

button, a{
    cursor: pointer;
}